@import "vars";

html {
  @font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/roboto/roboto-v20-latin-300.eot');
    src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/roboto/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto/roboto-v20-latin-300.woff2') format('woff2'), url('/assets/fonts/roboto/roboto-v20-latin-300.woff') format('woff'), url('/assets/fonts/roboto/roboto-v20-latin-300.ttf') format('truetype'), url('/assets/fonts/roboto/roboto-v20-latin-300.svg#Roboto') format('svg');
  }

  font-size: 16px;
}

// Default styles
body {
  margin: 0;
  padding: 0;

  font-family: $roboto_family;
  color: $font_dark;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-scroll {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background-color: $bg_green;
  color: $font_white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;

  list-style: none;
}

// Blocks
@import "blocks/page";
@import "blocks/loader";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/nav";
@import "blocks/content";
@import "blocks/welcome";
@import "blocks/about";
@import "blocks/user";
@import "blocks/social";
@import "blocks/arrow";
@import "blocks/menu";
@import "blocks/skills";
@import "blocks/info";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/form";
@import "blocks/input";
@import "blocks/button";
@import "blocks/btn";
