@import "vars";

html {
  font-family: $primary_family;
  font-size: 16px;
}

// Default styles
body {
  margin: 0;
  padding: 0;

  font-family: $primary_family;
  color: $font_dark;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-scroll {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background-color: $bg_green;
  color: $font_white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;

  list-style: none;
}

hr {
  margin: 20px;
  opacity: .3;
}

// Blocks
@import "blocks/page";
@import "blocks/loader";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/nav";
@import "blocks/content";
@import "blocks/welcome";
@import "blocks/about";
@import "blocks/triangles";
@import "blocks/user";
@import "blocks/social";
@import "blocks/arrow";
@import "blocks/menu";
@import "blocks/skills";
@import "blocks/info";
@import "blocks/value";
@import "blocks/stack";
@import "blocks/wrapper";
@import "blocks/projects";
@import "blocks/bottom";
@import "blocks/section";
@import "blocks/contact";
@import "blocks/footer";
@import "blocks/footer-sec";
@import "blocks/modal";
@import "blocks/form";
@import "blocks/input";
@import "blocks/button";
@import "blocks/btn";
