$font_white: #fff;
$font_dark: #455a64;
$bg_green: #00bfa5;
$bg_green-hover: #009688;
$title_color: #373e42;
$roboto_family: 'Roboto', sans-serif;

// Media
$breakdown_xxl: 1800px;
$breakdown_xl: 1200px;
$breakdown_lg: 960px;
$breakpoint_md: 720px;
$breakpoint_sm: 540px;
$breakpoint_xm: 320px;

