$font_white: #ffffff;
$font_dark: #455a64;
$bg_green: #00bfa5;
$bg_green-hover: #009688;
$title_color: #373e42;
$primary_family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
$secondary_family: 'bernier_regularregular', sans-serif;

// Media
$breakpoint_xxl: 1800px;
$breakpoint_xl: 1200px;
$breakpoint_lg: 960px;
$breakpoint_md: 720px;
$breakpoint_sm: 540px;
$breakpoint_xm: 320px;

//Fonts
@font-face {
  font-family: 'bernier_regularregular';
  src: url('.assets/fonts/bernier/bernierregular-regular-webfont.woff2') format('woff2'),
  url('.assets/fonts/bernier/bernierregular-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bernier_shaderegular';
  src: url('.assets/fonts/bernier/berniershade-regular-webfont.woff2') format('woff2'),
  url('.assets/fonts/bernier/berniershade-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}