.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__item {
  max-width: 436px;
  width: 100%;
}

.about__img {
  width: 100%;

  fill: $font_dark;
  opacity: .3;

  position: absolute;
  top: -66px;
  left: 9px;
  z-index: 1;
}