.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__item {
  max-width: 436px;
  width: 100%;
}

.about__img {
  width: 172%;

  fill: $font_dark;
  opacity: .3;

  position: absolute;
  top: -84px;
  left: -47px;
  z-index: 1;

  @media (max-width: $breakdown_xxl) {
    width: 100%;

    top: -66px;
    left: 9px;
  }
}