.footer-sec {
  width: 100%;
  padding: 30px 0;

  background-color: rgba(55, 62, 66, .85);

  @media (max-width: $breakpoint_sm) {
    padding: 20px 0;
  }
}

.footer-sec__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpoint_sm) {
    flex-direction: column;
  }
}


.footer-sec__links {
  @media (max-width: $breakpoint_sm) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer-sec__link {
  margin-left: 2rem;

  font-size: 1rem;
  font-weight: 500;
  color: $font_white;
  text-decoration: none;
  text-transform: uppercase;

  transition: color .2s linear;

  &:hover {
    color: $bg_green;
  }

  @media (max-width: $breakpoint_sm) {
    margin-left: 1rem;
    font-size: .8rem;
  }
}

.footer-sec__social {
  max-width: 205px;
  width: 100%;

  @media (max-width: $breakpoint_sm) {
    max-width: 100%;
  }
}

.footer-sec__bottom {
  margin: 0 2rem;
}

.footer-sec__copy {
  margin-top: 30px;

  font-size: 1rem;
  font-weight: 300;
  color: $font_white;
  text-align: center;

  @media (max-width: $breakpoint_sm) {
    font-size: .8rem;
  }
}