.nav {
  width: 100%;
  position: fixed;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  pointer-events: none;

  background-color: $bg_green;

  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all 1s ease-in-out;

  &.open {
    clip-path: circle(2700px at 90% -10%);
    -webkit-clip-path: circle(2700px at 90% -10%);
    pointer-events: all;
  }
}

.nav__item {
  cursor: pointer;
}

.nav__link {
  font-size: 2.5rem;
  color: $font_white;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}