.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $font_dark;
  opacity: 0;

  transition: opacity 1s ease-in;

  &--welcome {
    height: 100vh;
    overflow: auto;
    opacity: 1;

    background-color: rgb(29, 48, 64);
    background-image: url("/assets/img/welcome/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}