.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $font_dark;

  &--welcome {
    height: 100vh;
    overflow: auto;

    background-image: url("/assets/img/welcome/welcome_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}