.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: .7;

  background-color: $font_dark;
  background-image: url("/assets/img/welcome/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  transition: opacity 1s ease-in;


  &--secondary {
    min-height: 100%;
    position: relative;
    opacity: .7;

    background-attachment: fixed;

    @media (max-width: $breakpoint_sm) {
      background-attachment: local;
    }
  }
}

