.skills {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.skills__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint_lg) {
    flex-direction: column;
    justify-content: center;
  }
}

.skills__item {
  width: 50%;

  &:first-child {
    background-color: #EFEEE9;
  }

  &:last-child {
    background-color: #EEEBE0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: $breakpoint_lg) {
      justify-content: center;
    }
  }

  @media (max-width: $breakpoint_lg) {
    width: 100%;
  }
}

