.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.social__inner {
  display: flex;
  justify-content: space-evenly;
  max-width: 200px;
  width: 100%;
}

.social__icon {
  width: 26px;
  height: 26px;

  fill: $bg_green;

  transition: fill .2s linear;

  @media (max-width: $breakpoint_sm) {
    width: 18px;
    height: 18px;
  }

  &--welcome {
    @media (max-width: $breakpoint_sm) {
      width: 26px;
      height: 26px;
    }
  }

  &:hover {
    fill: $bg_green-hover;
  }

  &--header {
    fill: $font_white;
    opacity: .5;

    &:hover {
      fill: $font_white;
      opacity: 1;
    }
  }
}