.triangles {
  display: flex;
  width: 100%;

  position: absolute;
  top: -100px;
  z-index: -1;
}

.triangle {
  overflow: hidden;
  max-height: 100px;
}

.triangle__left {
  width: 50%;
  fill: #efeee9;

  &-projects {
    fill: $font_white !important;
  }
}

.triangle__right {
  width: 50%;
  fill: #eeebe0;

  @media (max-width: $breakpoint_lg) {
    fill: #efeee9;
  }

  &-projects {
    fill: $font_white !important;
  }
}