.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 436px;
  width: 100%;
  position: relative;
}

.user__img {
  margin: 40px 0 20px;
}

.user__name {
  margin-bottom: 10px;

  font-size: 1.75rem;
  font-weight: 500;

  &--secondary {
    font-size: 1.75rem;
    font-weight: 500;
    color: $font_white;
  }
}

.user__desc {
  max-width: 300px;
  width: 100%;
  margin: 0 68px 37px;

  font-size: 1rem;
  color: $font_dark;
  text-align: center;

  &--secondary {
    color: $font_white;
    font-size: 1rem;
  }
}

.user__bg-img {
  width: 800px;

  fill: $font_white;
  opacity: .6;

  position: absolute;
  top: -190px;
  left: -325px;

  @media (max-width: $breakpoint_lg) {
    max-width: 600px;
    left: -214px;
  }

  @media (max-width: $breakpoint_md) {
    max-width: 400px;
    left: -122px;
  }

  @media (max-width: $breakpoint_sm) {
    max-width: 200px;
    top: -135px;
    left: -20px;
  }

  @media (max-width: $breakpoint_xm) {
    display: none;
  }
}