.welcome__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.welcome__card {
  max-width: 436px;
  width: 100%;

  background-color: #fcfcfc;
  border-radius: 5px;
  opacity: .85;
}


