.wrapper {
  height: 100%;
  overflow: hidden;

  background-image: url("/assets/img/bg-bottom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //background-attachment: fixed;
}