<!DOCTYPE html>
<html lang="en">

<head>
  {{> head }}
</head>

{{> sprite }}

<body>
<div class="wrapper">

  <div class="page page--welcome page--welcome-bg">
    <!-- Header -->
    {{> header }}

    <!-- content -->
    <div class="content">
      {{> body }}
    </div>

    <!-- Footer -->
    {{> footer }}
  </div>

  <!-- Loader -->
  {{> loader }}

  <!-- Nav -->
  {{> nav }}

  <!-- Modal -->
  {{> modal }}

</div>

<script src="./assets/js/app.js"></script>
</body>

</html>