<!DOCTYPE html>
<html lang="en">

<head>
  {{> head }}
</head>

{{> sprite }}

<body>

<div class="page page--secondary">

  <!-- Header -->
  {{> header-about }}

  <!-- content -->

  <div class="content">
    {{> body }}
  </div>

</div>

{{> about-content }}

<div class="wrapper">
  <!-- bottom -->
  {{> bottom }}
  <!-- Footer -->
  {{> footer-sec }}
</div>

<!-- Loader -->
{{> loader }}

<!-- Nav -->
{{> nav }}

<!-- Modal -->
{{> modal }}


<script src="./assets/js/appAbout.js"></script>
</body>

</html>