<div class="skills">
  <div class="skills__inner">


    <div class="skills__item">
      <div class="info">

        <div class="info__left">
          <h2 class="info__title">About</h2>

          <div class="about__bg">
            <svg class="about__img">
              <use xlink:href="#about"></use>
            </svg>
          </div>
        </div>

        <div class="info__right">
          <div class="info__about">
            <img class="info__img" src="assets/img/about/about-user.png" alt="Eli Krizevski">
            <div class="info__desc">
              <p>I am a passionate developer looking to make an impact in this world. There are a few
                things that mean the most to me. My family, my friends, my love for a healthy lifestyle,
                building for the web and doing my part in making this a better world.</p>
              <p>I'm currently seeking out the right team where I can work with other passionate
                individuals to build digital products that positively impact people lives. I believe in
                always exceeding expectations and continuously learning to be the best in my craft.</p>
              <p>When I'm not in front of a computer screen, I'm probably at the gym or having an awesome
                time with friends or family.</p>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.skills__item -->

    <div class="skills__item">
      <div class="value">
        <div class="value__inner">

          <h3 class="value__title">What I can do</h3>
          <div class="value__desc">
            I love everything about JavaScript, and I'm currently learning React which I really like to work with. Here
            is the list of things that I can do.
          </div>

          <div class="stack">
            <div class="stack__item">
              <div class="stack__title">Languages</div>

              <ul class="stack__list">
                <li class="stack__list-item">
                  <span class="stack__name">JavaScript</span>
                </li>
                <li class="stack__list-item">
                  <span class="stack__name">HTML</span>
                </li>
                <li class="stack__list-item">
                  <span class="stack__name">CSS</span>
                </li>
                <li class="stack__list-item">
                  <span class="stack__name">BEM</span>
                </li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </div><!-- /.skills__item -->


  </div><!-- /.skills__inner -->
</div><!-- /.skills -->
