<div class="skills" id="skills">

  <div class="triangles">
    <svg class="triangle triangle__left" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0 100, 100, 100, 0 0"></polygon>
    </svg>
    <svg class="triangle triangle__right" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0,100 100,0 100,100"></polygon>
    </svg>
  </div>

  <div class="skills__inner">


    <div class="skills__item">
      <div class="info">

        <div class="info__left">
          <h2 class="info__title">About</h2>

          <div class="about__bg">
            <svg class="about__img">
              <use xlink:href="#about"></use>
            </svg>
          </div>
        </div>

        <div class="info__right">
          <div class="info__about">
            <img class="info__img" src="assets/img/about/eli.png" alt="Eli Krizevski">
            <h3 class="info__author">Eli Krizevski</h3>
            <div class="info__desc">
              <p>I am a passionate developer looking to make an impact in this world. There are a few
                things that mean the most to me. My family, my friends, my love for a healthy lifestyle,
                building for the web and doing my part in making this a better world.</p>
              <p>I'm currently seeking out the right team where I can work with other passionate
                individuals to build digital products that positively impact people lives. I believe in
                always exceeding expectations and continuously learning to be the best in my craft.</p>
              <p>When I'm not in front of a computer screen, I'm probably at the gym or having a good
                time with friends or family.</p>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.skills__item -->

    <div class="skills__item">
      <div class="value">
        <div class="value__inner">

          <div class="value__item">
            <h3 class="value__title">What I can do</h3>
          </div>

          <div class="value__desc">
            I'm a Front-end web developer looking for an opportunity to become a full-stack. Here is the current stack
            that I can help you with:
          </div>

          <div class="stack">
            <ul class="stack__list">
              <li class="stack__list-item">

                <div class="stack-row">
                  <div class="stack-row__title">Languages</div>
                  <ul class="stack-row__list">

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">HTML5</div>
                      </figure>
                    </li>

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">CSS3</div>
                      </figure>
                    </li>

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">JavaScript</div>
                      </figure>
                    </li>

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">BEM</div>
                      </figure>
                    </li>

                  </ul>
                </div>

                <div class="stack-row">
                  <div class="stack-row__title">Frameworks</div>
                  <ul class="stack-row__list">

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above react" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">React</div>
                      </figure>
                    </li>

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">Bootstrap</div>
                      </figure>
                    </li>

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">SASS</div>
                      </figure>
                    </li>

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">MJML</div>
                      </figure>
                    </li>

                  </ul>
                </div>

                <div class="stack-row">
                  <div class="stack-row__title">Workflow</div>
                  <ul class="stack-row__list">

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">GIT</div>
                      </figure>
                    </li>

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">Bash</div>
                      </figure>
                    </li>

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">DevTools</div>
                      </figure>
                    </li>

                    <li class="stack-row__item">
                      <figure class="stacks" style="opacity: 0.9">
                        <svg class="stack__figure" viewBox="0 0 100 100" preserveAspectRatio="none">
                          <circle class="stack__circle stack__circle_under" cx="50" cy="50" r="40"></circle>
                          <circle class="stack__circle stack__circle_above" cx="50" cy="50" r="40"
                                  style="stroke-dashoffset: 50.2px"></circle>
                        </svg>
                        <div class="stack__title">Gulp</div>
                      </figure>
                    </li>

                  </ul>
                </div>

              </li>
            </ul><!-- /.stack__list -->
          </div><!-- /.stack -->

        </div>
      </div>
    </div><!-- /.skills__item -->


  </div><!-- /.skills__inner -->
</div><!-- /.skills -->
