<div class="bottom">
  <div class="bottom__inner">

    <div class="section">
      <div class="section__title">Contact me</div>
    </div>

    <div class="contact">
      <div class="contact__inner">

        <div class="contact__header">
          <h4 class="contact__title">Contact form</h4>
        </div>

        <form class="form" action="/" method="post">
          <div class="form__stack">
            <div class="form__group form__group--contacts">
              <input class="input input-contacts" type="text" name="name" placeholder="Your name" required>
            </div>

            <div class="form__group form__group--contacts">
              <input class="input input-contacts" type="email" name="email" placeholder="Your email" required>
            </div>
          </div>

          <div class="form__group">
            <textarea class="input input-textarea textarea__contacts" name="text" placeholder="Message"
                      required></textarea>
          </div>

          <div class="button">
            <button class="btn" type="submit">Send</button>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>