<footer class="footer-sec">
  <div class="footer-sec__inner">

    <div class="footer-sec__top">
      <div class="footer-sec__links">
        <a class="footer-sec__link" href="index.html">Home</a>
        <a class="footer-sec__link" href="about.html">About</a>
        <a class="footer-sec__link" href="portfolio.html">Portfolio</a>
      </div>

      <div class="footer-sec__social">
        <div class="social--header">
          <div class="social__inner social__inner--footer">

            <a class="social__link" href="#" data-modal>
              <svg class="social__icon social__icon--header">
                <use xlink:href="#mail"></use>
              </svg>
            </a>

            <a class="social__link" href="https://github.com/Lateralus-lab" target="_blank">
              <svg class="social__icon social__icon--header">
                <use xlink:href="#github"></use>
              </svg>
            </a>

            <a class="social__link" href="#" target="_blank">
              <svg class="social__icon social__icon--header">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="footer-sec__bottom">

      <div class="footer-sec__copy">
        &#169; Developed with love by Eli Krizevski
      </div>

    </div>

  </div>
</footer>