<header class="header">
  <div class="header__inner header__inner--about">

    <div class="social--header">
      <div class="social__inner">

        <a class="social__link" href="#" data-modal>
          <svg class="social__icon social__icon--header social__icon--welcome">
            <use xlink:href="#mail"></use>
          </svg>
        </a>

        <a class="social__link" href="#" target="_blank">
          <svg class="social__icon social__icon--header social__icon--welcome">
            <use xlink:href="#github"></use>
          </svg>
        </a>

        <a class="social__link" href="#" target="_blank">
          <svg class="social__icon social__icon--header social__icon--welcome">
            <use xlink:href="#linkedin"></use>
          </svg>
        </a>

      </div>
    </div>

    <div class="burger">
      <div class="burger__menu"></div>
    </div>

  </div>
</header>