<div class="skills" id="skills">

  <div class="triangles">
    <svg class="triangle triangle__left triangle__left-projects" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0 100, 100, 100, 0 0"></polygon>
    </svg>
    <svg class="triangle triangle__right triangle__right-projects" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0,100 100,0 100,100"></polygon>
    </svg>
  </div>

  <div class="project__holder">
    <h2 class="project__title">Projects</h2>
  </div>

  <div class="skills__inner skills__inner--projects">

    <div class="skills__item skills__item--projects">

      <div class="projects__left">
        <h3 class="projects__title">Weather App</h3>

        <div class="projects__desc">
          A simple weather app I built with HTML, CSS (SASS), BEM and Javascript. For this app, I used the
          OpenWeatherMap API to get the weather data for any city you submit in the input.
        </div>

        <div class="projects__tags">HTML5, CSS3, SASS, BEM, JavaScript, API</div>

        <div class="projects__links">
          <a class="projects__link" href="https://center-logistics.netlify.app/" target="_blank">Live</a>
          <a class="projects__link" href="https://github.com/Lateralus-lab/weather-app"
             target="_blank">Code</a>
        </div>
      </div>

    </div><!-- /.skills__item -->

    <div class="skills__item skills__item--projects">
      <div class="projects__right">

        <div class="projects__right-img">
          <img class="projects__img" src="/assets/img/projects/weatherapp.png" alt="WeatherApp">
        </div>

      </div>
    </div><!-- /.skills__item -->


    <div class="skills__item skills__item--projects">

      <div class="projects__left">
        <h3 class="projects__title">Trans & Logistic Website</h3>

        <div class="projects__desc">
          This responsive website I built from scratch with HTML, CSS and Vanilla JavaScript (no JQuery) combined
          with BEM methodology.
        </div>

        <div class="projects__tags">HTML5, CSS3, BEM, JavaScript</div>

        <div class="projects__links">
          <a class="projects__link" href="https://center-logistics.netlify.app/" target="_blank">Live</a>
          <a class="projects__link" href="https://github.com/Lateralus-lab/CenterLogistic-landing-website"
             target="_blank">Code</a>
        </div>
      </div>

    </div><!-- /.skills__item -->

    <div class="skills__item skills__item--projects">
      <div class="projects__right">

        <div class="projects__right-img">
          <img class="projects__img" src="/assets/img/projects/logistics1.png" alt="Logistics">
        </div>

      </div>
    </div><!-- /.skills__item -->

  </div><!-- /.skills__inner -->
</div><!-- /.skills -->
